
@import url('https://fonts.googleapis.com/css2?family=Lato');
body {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}


.logo {
  width: 100%;
}

.navbar-brand {
  width: 30%;
}

.nav-item {
  margin-top: 10px;
}

.navbar {
  background-color: #3e3e3e;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  font-weight: 700;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5) !important;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  width: 5%;
}

.viewBoxTd {
  width: 30%;
}

.viewBox {
  height: 0;
  width: 100%;
  position: relative;
  padding: 0;
  padding-bottom: 100%;
  outline-style: solid;
  background-color: #eeffee;
}

.threeButtons td {
  padding-top: 20px;
  text-align: center;
}


.threeInstructions td {
  padding: 0px 10px;
  vertical-align: top;
}

.container {
  padding: 50px;
    max-width: 1600px;
}

.description {
  font-size: 1.1em;
  padding: 5px 25px;
}

table.views {
    width: 100%;
    min-width: 540px;
    max-width: 1600px;
}

.modal-title {
  font-weight: 700;
}

.alert {
  margin: 0 auto 20px auto;
  max-width: 450px;
}

.alert p {
  margin: 0.3rem 0;
}

.loadingBox {
  width: 100%;
  height: 100%;
}

.loadingSpinner {
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}